{% extends 'network/layout.html' %}
{% load static %}

{% block body %}
  <div class="body">
    <div class="row justify-content-center">
      <div class="col-9 mt-2">
        <div id="postscontainer"></div>
      </div>
    </div>
  </div>

  <script>
let followsIds = {{ follows_ids_json|safe }};
console.log(followsIds);

// On load logic
document.addEventListener('DOMContentLoaded', function () {
  fetchAllPosts(followsIds).then(({ allPostsSorted }) => {
    console.log(allPostsSorted);
    displayPosts(allPostsSorted);
    // Additional code for handling the fetched and formatted posts or any other operations
  });

// Fetch all posts
function fetchAllPosts(followsIds) {
  const allPosts = [];

  return Promise.all(
    followsIds.map(userId =>
      fetch(`/feed/${userId}`)
        .then(response => response.json())
    )
  )
    .then(postsArrays => {
      const mergedPosts = allPosts.concat(...postsArrays);
      const sortedPosts = sortPostsByDate(mergedPosts);
      return { allPosts: mergedPosts, allPostsSorted: sortedPosts };
    });
}

// Sort posts by date_created
function sortPostsByDate(posts) {
  return posts.sort((a, b) => new Date(b.date_created) - new Date(a.date_created));
}

// Format and display posts in cards
function displayPosts(posts) {
  const postsContainer = document.querySelector('#postscontainer');

  posts.forEach(post => {
    const { id: post_id, content, likes, unlikes, date_created, user: user_id, username } = post;

    // Display each post in a div
    const postDiv = document.createElement('div');
    postDiv.classList.add('card', 'card-body', 'mb-3');

    // Display content in h5
    const headerElement = document.createElement('h5');
    headerElement.classList.add('card-title');
    headerElement.textContent = content;

    // Display other info
    const postElement = document.createElement('p');
    postElement.classList.add('card-text');

    // Create a clickable username link
    const usernameLink = document.createElement('a');
    usernameLink.textContent = `${username} ·  ${date_created}`;
    usernameLink.href = `/profile/${user_id}`;

    // Append the username link and line break to postElement
    postElement.appendChild(usernameLink);
    postElement.appendChild(document.createElement('br'));
    postElement.innerHTML += `Likes: ${likes} <i class="far fa-thumbs-up"></i>  <br> `;

    // Append header and post elements to postDiv
    postDiv.appendChild(headerElement);
    postDiv.appendChild(postElement);

    postsContainer.appendChild(postDiv);
  });
}
});

  </script>
{% endblock %}
