{% extends 'network/layout.html' %}
{% load static %}

{% block body %}
  <div class="body">
    <div class="row justify-content-center">
        <div id="postscontainer"></div>
         <!-- Pagination Starts -->
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item" ><a class="page-link" href="#" id="previousPageBtn">Previous</a></li>
            <li class="page-item" id="currentPageElement">1</li>
            <li class="page-item" ><a class="page-link" href="#" id="nextPageBtn">Next</a></li>
          </ul>
        </nav>
        <!-- Pagination Ends -->
      </div>
      
    </div>
  </div>

  <script>
    var userId = "{{ user_id }}";
    var currentPage = 1;
    var numPages = 1;
    const previousPageElement = document.getElementById("previousPageBtn");
    const currentPageElement = document.getElementById("currentPageElement");
    const nextPageElement = document.getElementById("nextPageBtn");
  
    function updatePaginationCounter() {
      currentPageElement.innerHTML = currentPage;
    }
  
    function handlePreviousPageClick() {
      if (currentPage > 1) {
        currentPage--;
        updatePaginationCounter();
        // Add your logic to fetch and display the previous page of content
        fetchPosts(userId); // Fetch previous page content using the updated currentPage value
      }
    }
  
    function handleNextPageClick() {
      console.log("Clicked 1");
      if (currentPage < numPages) {
        currentPage++;
        console.log(currentPage);
        updatePaginationCounter();
        // Add your logic to fetch and display the next page of content
        fetchPosts(userId); // Fetch next page content using the updated currentPage value
      }
    }

    // Add event listeners to the previous and next page buttons
    previousPageElement.addEventListener("click", handlePreviousPageClick);
    nextPageElement.addEventListener("click", handleNextPageClick);
  
    // Initial pagination counter
    updatePaginationCounter();

    // Create a feed of posts based on the user id
function fetchPosts(user_id) {
  fetch(`/feed/${user_id}?page=${currentPage}`)
    .then((response) => response.json())
    .then((data) => {
      showPosts(data.serialized_posts);
      numPages = data.paginator.num_pages;
    })
    .catch((error) => {
      console.error("An error occurred:", error);
      // Handle the error
    });
}

function removeAllChildNodes(parentNode) {
  while (parentNode.firstChild) {
    parentNode.removeChild(parentNode.firstChild);
  }
}

// Display the posts on the page
function showPosts(posts) {
  const postsContainer = document.querySelector("#postscontainer");
  // Remove all existing child nodes from postsContainer
  removeAllChildNodes(postsContainer);

  posts.forEach((serialized_post) => {
    const post_id = serialized_post.id;
    const content = serialized_post.content;
    const likes = serialized_post.likes;
    const unlikes = serialized_post.unlikes;
    const date_created = serialized_post.date_created;
    const user_id = serialized_post.user;
    const username = serialized_post.username;

    // Display each post in a div
    const postDiv = document.createElement("div");
    postDiv.classList.add("card", "card-body", "mb-3");

    // Display content in h5
    const headerElement = document.createElement("h5");
    headerElement.classList.add("card-title");
    headerElement.textContent = content;

    // Display other info
    const postElement = document.createElement("p");
    postElement.classList.add("card-text");

    // Create a clickable username link
    const usernameLink = document.createElement("a");
    usernameLink.textContent = `${username} ·  ${date_created}`;
    usernameLink.href = `/profile/${user_id}`;

    // Append the username link and line break to postElement
    postElement.appendChild(usernameLink);
    postElement.appendChild(document.createElement("br"));
    postElement.innerHTML += `Likes: ${likes} <i class="far fa-thumbs-up"></i><br>`;

    // Append header and post elements to postDiv
    postDiv.appendChild(headerElement);
    postDiv.appendChild(postElement);

    postsContainer.appendChild(postDiv);
  });
}

    // On load logic
    document.addEventListener("DOMContentLoaded", function () {
      // Load posts for this user
      fetchPosts(userId);
      console.log("currentpage:", currentPage);
      console.log("numPages:", numPages);

    });


  </script>

{% endblock %}
