{% extends 'network/layout.html' %}
{% load static %}

{% block body %}
  <div class="body">
    <div class="row justify-content-center">
      <div class="card card-body col-3 mt-2"> 
        <div id="myprofilecontainer"><h2>Profile for {{username}}</h2></div>
          <div id="followers" class="mt-3">Followed by {{ followers_count }} users</div>
          <div id="followedby" class="mt-3">Following {{ following_count }} users</div>
          <div id="ctas" class="mt-3">
            <button type="button" id='unfollowbtn' class="btn btn-danger">Unfollow</button>
            <button type="button" id='follow' class="btn btn-success">Follow</button>
          </div>
      </div>
      <div class="col-6 mt-2">
        <div id="postscontainer"></div>
        <!-- Pagination Starts -->
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item" ><a class="page-link" href="#" id="previousPageBtn">Previous</a></li>
            <li class="page-item mt-2 ml-2 mr-2" id="currentPageElement">  1 </li>
            <li class="page-item" ><a class="page-link" href="#" id="nextPageBtn">Next</a></li>
          </ul>
        </nav>
        <!-- Pagination Ends -->
      </div>
    </div>
  </div>

<script>
var relationship_exists = {{ relationship_exists }};
var userId = "{{ user_id }}";
var currentPage = 1;
var numPages = 1;

// User profile specific
const unfollowButton = document.getElementById('unfollowbtn');
const followButton = document.getElementById('follow');

followButton.addEventListener('click', function(){
  console.log("Clicked");
  fetch(`/addfollow/${userId}`, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': '{{ csrf_token }}',
    },
  })
  .then(response => response.json())
  .then(data => {
    // Handle the response data
    if (data.success) {
      // Display a success message
      alert(data.message);
      // Refresh the page
      window.location.reload();
    } else {
      // Display an error message
      alert(data.message);
    }
  })
  .catch(error => {
    // Handle any error that occurs during the request
    console.error('An error occurred:', error);
  });
});

unfollowButton.addEventListener('click', function(){
  console.log("Clicked");
  fetch(`/removefollow/${userId}`, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': '{{ csrf_token }}',
    },
  })
  .then(response => response.json())
  .then(data => {
    // Handle the response data
    if (data.success) {
      // Display a success message
      alert(data.message);
      // Refresh the page
      window.location.reload();
    } else {
      // Display an error message
      alert(data.message);
    }
  })
  .catch(error => {
    // Handle any error that occurs during the request
    console.error('An error occurred:', error);
  });
});

document.addEventListener('DOMContentLoaded', function () {

  fetchPosts(userId);
  checkPreviousButtonVisibility();
  if(relationship_exists) {
    // Set follow btn -> display none
    document.getElementById('follow').style.display = 'none';
    // Set unfollow btn -> display block  
    document.getElementById('unfollowbtn').style.display = 'block';
  } else {
    // Set follow btn -> display block
    document.getElementById('follow').style.display = 'block';  
    // Set unfollow btn -> display none
    document.getElementById('unfollowbtn').style.display = 'none';
  }
});

  </script>
{% endblock %}
